.edit[field="layout-titles-skin-1-layouts-20230512071541"][rel="module"] {
	background-image: url(https://439750.microweber.net/userfiles/media/default/m221205180604126.jpg);
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-top: auto;
}
#element_1683875132858 {
	color: #000000;
	padding-bottom: 30px;
}
#element_1683875132861 {
	color: #000000;
	padding-bottom: 30px;
}
#element_1683875132583 {
	color: #000000;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.edit[field="layout-titles-skin-1-layouts-20230512072630"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 0px;
}
#element_1683875133710 {
	margin-bottom: 0px;
}
#element_1683875133715 {
	padding-left: 0px;
	padding-right: 0px;
}
#element_1683878184868 {
	text-align: center;
	font-weight: 400;
	font-size: 40px;
}
.edit[field="layout-skin-1-layouts-20230512072900"][rel="module"] {
	padding-top: 30px;
	padding-bottom: 0px;
}
#element_1683878184991 {
	margin-bottom: 50px;
	padding-bottom: 50px;
}
#layouts-20230512071541 {
	background-image: url(https://zapatosfex.microweber.net/userfiles/media/default/m221205180604141.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
}
.edit[field="content"][rel="content"] {
	background-image: none;
}
#mw-selector-1683879371419 {
	background-image: none;
}
#element_1683879563298 {
	padding-bottom: 20px;
	padding-top: 10px;
}
.edit[field="layout-skin-1-mw-id-1683879562572"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 30px;
}
#element_1683879562489 {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#element_1683879562502 {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#element_1683879562511 {
	padding-bottom: 0px;
}
#element_1683879562754 {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#element_1683879562993 {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#element_1683879563140 {
	padding-bottom: 0px;
}
#mw-id-1683878184959 {
	background-image: url(https://zapatosfex.microweber.net/userfiles/media/default/m221205180604141_1.jpg);
}
